/* reset */

* {
	box-sizing: border-box;
}

.ng-cloak {
	display: none !important;
}


/* elements */
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}
section {
	margin: 0.5em;
}
h1 {
	font-size: 2em;
	color: #999;
}
h2 {
	border-bottom: 1px solid #ddd;
	color: silver;
}
h3, h4 {
	color: gray;
	display: inline;
}
ol, ul, dl{
	padding-left: 40px
}
small {
	font-style: italic;
}

/* utility */
.stealth-list {
	list-style: none;
	padding-left: 30px;
}
.compact-list {
	padding-left: 0;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
dl.inline dt {
	display: inline;
	font-weight: bold;
	color: silver;
}
dl.inline dt:before {
	content: "";
	display:block;
}
dl.inline dd {
	display: inline;
	margin-left: 0.5em;
}
.label {
	font-weight: bold;
}

/* specific */
.main-header {
	display: table;
	background-color: #eef;
	padding: 0.5em;
}
.name {
	display: table-cell;
	width: 100%;
	padding-top: 1.5em;
	vertical-align: bottom;
}
.contact-info {
	font-style: normal;
	display: table-cell;
	vertical-align: bottom;
	text-align: right;
	white-space: nowrap;
	color:#333;
}
.contact-info li {
	margin: 0;
}
.location:before {
	content: ",\00a0";
}
.section-header {
	margin-top: 1em;
}
.duration {
	float: right;
}
.references {
	text-align: center;
}
.column-list {
	margin: 0;
}
.column-list li {
	display: inline-block;
	width: 100%; /* fit to screen */
	max-width: 25em; /* multiple columns */
	margin: 0.25em 0.5em 0.25em 0;
	vertical-align: top;
}
abbr {
	cursor: help;
	border-bottom: 1px dotted #777;
}


@media print {
	abbr {
		border-bottom: none;
	}

	abbr::after {
		content: ' (' attr(title) ')';
		font-style: italic;
	}

	body {
		font-size: 10pt;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	h1, h2, h3, h4 {
		page-break-after: avoid;
	}

	p {
		page-break-inside: avoid;
	}

	.section-header {
		margin-top: 0.5em;
		margin-bottom: 0.2em;
	}

	.column-list li {
		max-width: 32%;
	}

	.qr {
		display: table-cell;
		height: 6em;
		padding-right: 1em;
	}
}

@media screen {
	li {
		margin: 0.25em 0;
	}
}